<div style='text-align: center; font-family: sans-serif'>
  <h2>Seu código de acesso</h2>
  <p>Use o código abaixo para fazer login na sua conta</p>
  <h1
    style='color: #333; 
    font-size: 32px; 
    letter-spacing: 2px;'
  >{{token}}</h1>
  <span style='color: #666; font-size: 12px;'>Esse código expire em 15 minutos.</span>
</div>